/* 
    General Styles
*/
body, html {
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1;
}

/* navbar */
.navbar {
    margin: 30px;
    padding-bottom: 100px;
}

.logo-img {
    width: 150px;
    height: 70px;
}

#playButton, #pauseButton {
    background: none;
    color: #ffc500;
    font-size: 35px;
    border: none;
    box-shadow: none;
}

#playButton {
    font-size: 45px;
}

.trash-icon {
    color: red;
}

.trash-icon:hover {
    color: rgb(212, 2, 2);
}

.dropdown {
    margin-right: 100px;
}

.dropdown-menu {
    background-color: rgb(240, 239, 239);
}

.dropdown-item:hover, .dropdown-item:active {
    background-color: rgb(240, 239, 239);
    color: black
}

.custom-dropdown-toggle::after {
    display: none; /* Oculta la flecha de despliegue */
}

.rounded-pill {
    background-color: #ffc500;
    color: black;
}

/* database browser */
.position-fixed {
    margin-left:  50px;
    margin-top: 300px;
}

.nav-title {
    font-size: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffc500;
}

.nav-link-custom {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-left: 50px;
    color: lightgrey;
}

.nav-link-custom:hover {
    color: lightgrey;
}

.nav-link-custom.active-link {
    border-left: 3px solid #ffc500;
    color: white;
}  

/* cards */
#characters, #species, #vehicles, #planets {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 18rem;
    height: 475px;
    border-radius: 15px;
    background-color: rgb(240, 239, 239);
    position: relative;
}

.card-image {
    border-radius: 15px 15px 0 0;
    height: 250px;
    width: 286px;
    object-fit: cover;
}

.card-btns {
    position: absolute;
    bottom: 15px;
    left: 10px;
    right: 15px;
    display: flex;
    justify-content: space-between;
}

.card-btn {
    margin: 0 5px;
    color: #000;
    background-color: #ffc500;
    border-color: #ffc500;
    border-width: 2px;
    border-radius: 12px;
}

.card-btn {
    color: #000;
    background-color: #ffc500;
    border-color: #ffc500;
    border-width: 2px;
    border-radius: 12px;
}

.card-btn:hover,
.card-btn:active {
    border-color: #ffc500;
}

.love-btn {
    background-color: rgb(240, 239, 239);
    border-color: red;
    border-width: 2px;
    border-radius: 12px;
}

.love-btn:hover,
.love-btn:active,
.love-btn:focus {
    border-color: red;
    box-shadow: none;
}

.heart-filled,
.heart {
    color: red;
    font-size: 25px;
    padding-bottom: 1.5px;
}


/* Details */
.container-details {
    margin-bottom: 120px;
}

.details-container {
    background-color: rgb(240, 239, 239, 0.75);
    border-radius: 15px 15px 0px 0px;
    padding: 60px;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos dentro del contenedor */
    text-align: center;
}

.details-title {
    font-size: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.details-description {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra horizontalmente los elementos dentro de este contenedor */
    align-items: flex-start; /* Alinea los elementos en la parte superior del contenedor verticalmente */
    margin-top: 10px; /* Espacio entre el título y el contenido */
}

.details-description img {
    object-fit: cover;
    border-radius: 12px;
    height: 400px;
    width: 575px;
    margin-right: 20px;
}

.details-description p {
    font-size: 22px;
    text-align: justify;
    display: flex; 
    padding-top: 10px;
}

.details-attributes {
    background-color: rgb(240, 239, 239, 0.75);
    border-radius: 0px 0px 15px 15px;
    padding: 60px;
    padding-top: 30px;
    padding-bottom: 35px;
    font-size: 22px;
}

.details-attributes h4 {
    margin-left: 100px;
    margin-bottom: 15px;
    font-size: 30px;
    padding: 10px;
}

.details-attributes ul {
    list-style: none;
    padding: 0;
    margin-left: 40px;
}

.details-attributes li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin: 0;
}

.ico {
    width: 23px;
    height: 24px;
    margin-right: 15px;
    padding-bottom: 3px;
}

.item-list {
    float: left;
    width: calc(100% - 350px);
}

.robots-container {
    float: right;
    width: 350px;
    height: 430px;
    padding-bottom: 50px;
}

/* not found */
.yoda404 {
    margin-top: 75px;
    height: 700px;
    width: 700px;
}
.page404 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.message404 {
    text-align: center;
    color: lightgray;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.btn-outline-light {
    font-size: 20px;    
    border-color: lightgray !important;
}

.btn-outline-light:hover {
    background-color: lightgray !important;
}

/* footer */
.footer {
    position: relative;
    width: 100%;
    background-color: none; 
    color: rgb(240, 239, 239);
    padding: 25px;
}

.fa-heart {
    color: rgb(129, 4, 4);
    font-size: 15px;
    margin-bottom: 3px;
}

.footer-name {
    text-decoration: none;
    color: white;
}

.footer-name:hover {
    color: white;
}